.header {
    background: #012D63;
    height: 93px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header-box {
    display: flex;

}

.header-nav-list {
    display: flex;
    gap: 29px;
    margin-right: 73px;
}

.header-img-link {
    margin-right: 152px;
}

.header-img {
    width: 100px;
height: 60px;
flex-shrink: 0;
}

.header-nav-link {
color: #C7C7C7;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.header-language-list {
    display: flex;
    gap: 13px;
}

.header-language-text {
    color: #DCDCDC;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.section-hero {
    background-image: url(./images/section-hero--background.jpg);
    background-size: cover;
    padding-top: 94px;
    padding-bottom: 183px;
}

.hero-box-img {
    width: 160px;
height: 120px;
flex-shrink: 0;
}

.hero-box-text {
    color: #FFF;
font-family: PT Serif;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
left: 195pxpx;
bottom: 430px;
}

.hero-headline {
    color: #FFF;
font-family: Playfair Display;
font-size: 144px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 36px;
}

.hero-subtitle {
    color: #FFF;
font-family: Playfair Display;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 15px;
}

.hero-text {
margin-top: 32px;
color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 508px;
height: 84px;
}

.hero-button {
    width: 254px;
height: 67px;
flex-shrink: 0;
    border-radius: 10px;
    background: #8E32C6;
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
margin-top: 34px;
}

.section-info {
    background-image: url(./images/baground-section-info.jpg);
    padding-top: 105px;
    padding-bottom: 105px;
}

.info-list {
    display: flex;
    justify-content: center;
    border: 5px solid #8E32C6;
}

.info-item {
padding-top: 25px;
padding-bottom: 25px;
}

.info-article {
    padding: 50px;
}


.info-article-1 {
    border-left: 1px solid #FFF;
}

.info-article-2 {
    border-left: 1px solid #FFF;
}


.info-text {
    color: #FFF;
text-align: center;
font-family: Playfair Display;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: auto;
margin-right: auto;
}

.info-text-1-wight {
    width: 159px;
height: 102px;
flex-shrink: 0;
}

.info-text-2-wight {
    width: 161px;
    height: 102px;
    flex-shrink: 0;
}

.info-text-3-wight {
    width: 151px;
    height: 103px;
    flex-shrink: 0;
}

.info-img {
    width: 240px;
height: 240px;
flex-shrink: 0;
}

.section-reviews {
    background-image: url(./images/baground-for-another-section.jpg);
    padding-top: 24px;
    padding-bottom: 114px;
}

.reviews-img-decoration {
    position: absolute;
}

.reviews-text {
    color: #FFF;
text-align: center;
font-family: Playfair Display;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 24px;
}

.reviews-list {
    display: flex;
    justify-content: center;
    gap: 93px;
}

.reviews-article {
    padding-left: 13px;
    padding-right: 14px;
    padding-top: 49px;
    padding-bottom: 29px;
    border-radius: 15px;

}

.reviews-article-color-1 {
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
}

.reviews-article-color-2  {
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
}

.reviews-article-color-3 {
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;
}

.reviews-title {
    color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 228px;
margin-bottom: 8px;
}

.reviews-title-time {
    color: #D8D8D8;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 47px;
}

.reviews-box {
    display: flex;
}

.review-box-img {
    width: 31px;
height: 31px;
flex-shrink: 0;
}

.reviews-small-box {
    margin-left: 5px;
}

.reviews-small-text {
    color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 1px;
}

.reviews-small-text-info {
    color: #D8D8D8;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.section-order {
    background-image: url(./images/baground-section-order.png);
    padding-top: 21px;
    padding-bottom: 37px;
}

.order-headline {
    color: #FFF;
font-family: Playfair Display;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-bottom: 33px;
}

.order-input {
    display: block;
width: 600px;
height: 50px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
margin-left: auto;
margin-right: auto;


}

.order-list {
    margin-top: 19px;
    row-gap: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-list-input {
    width: 530px;
height: 40px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
}

.order-button {
    display: block;
    margin-top: 19px;
    width: 248px;
height: 68px;
flex-shrink: 0;
border-radius: 16px;
background: #8E32C6;
color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: auto;
margin-right: auto;
}